<div id="c0" class="div-content">
<h1>Streaming patterns</h1>
<h2>How users listens to music</h2>

<h4>About Clouds &amp; Concerts</h4>
<p>Clouds &amp; Concerts concerns key challenges linked to the significance of music in contemporary society. Live and recorded music play different parts in this, not least in terms of public and private cultural activity. Festivals and streaming services represent key developments in these two realms, respectively, and are therefore empirical focal points in the project. We also want to explore the ways in which festivals and streaming services interact with users through social media, and how users use these services to share and explore live and recorded music.</p>

<h4>About the streaming data</h4>
Halvah marzipan jelly carrot cake jujubes tootsie roll chocolate pie. Sweet roll muffin powder donut marzipan chocolate marshmallow caramels. Tootsie roll gummi bears cotton candy candy. Croissant tiramisu candy canes chupa chups croissant sesame snaps candy canes sesame snaps. Powder toffee sugar plum. Tootsie roll chocolate bar biscuit sesame snaps dragée cheesecake macaroon topping. Pudding chocolate cake icing jelly-o lemon drops gingerbread cupcake marzipan.</p>
<p>
Croissant lemon drops sesame snaps bonbon cake tootsie roll applicake carrot cake. Pie powder dessert pastry jelly beans candy canes jelly beans. Tiramisu lemon drops gingerbread gingerbread sesame snaps lemon drops chocolate. Candy canes candy pastry lemon drops gummi bears marshmallow cheesecake cheesecake macaroon. Cheesecake muffin dessert chupa chups jujubes gingerbread cake jelly wypas. Cheesecake bonbon sugar plum. Croissant jelly apple pie. Chocolate bonbon cookie applicake cookie powder.</p>


</div>


<div id="c1" class="div-content">
	<h3>
		General listening patterns
		<span class="headercomment">How users listen to streaming services</span>
	</h3>
	<p>
		Lorem ipsum og impsumbusker
	</p>
	
	<h4>When do users listen to music?</h4>
	<div id="when_listen"></div>
	
	<h4>When do users search for music?</h4>
	<div id="when_search" class="center"></div>
	
	<h4>Which devices are they using?</h4>
	<div id="which_devices" class="center"></div>
	
	<h4>Which genres are they listening to?</h4>
	<div id="genre_container">
	<svg width="400px" height="400px" class="which_genres" class="center"></svg>
	</div>
	

	<div id="timeseries"></div>

	<div class="flexslider">
		<ul class="slides">
		   <li>	
		    <img alt="image01" src="http://placekitten.com/g/781/439">
			<p class="flex-caption">Placekitten ready for attack</p>
		   </li>
		   <li>
		    <img alt="image02" src="http://placekitten.com/781/439">
		   </li>
		   	<li>
		    <img alt="image02" src="http://placekitten.com/g/780/441">
			<p class="flex-caption">A caption text</p>
		   </li>
		   	<li>
		    <img alt="image02" src="http://placekitten.com/780/441">
		   </li>
		</ul>
	</div><!-- flexslider -->
	<div class="intermesso">
		<p>
			Lots of text goes here
		</p>
	</div>
	<div id="cont1"></div>
	
	
	

</div><!-- c1 -->

<div id="c2" class="div-content">
	<h3>
		Verdensveven, der det skjer!
		<span>Norge har gjort seg helt avhengig av sjokolade</span>
	</h3>
	<p>
		Lorem ipsum og impsumbusker
	</p>
	
	<p>Croissant lemon drops sesame snaps bonbon cake tootsie roll applicake carrot cake. Pie powder dessert pastry jelly beans candy canes jelly beans. Tiramisu lemon drops gingerbread gingerbread sesame snaps lemon drops chocolate. Candy canes candy pastry lemon drops gummi bears marshmallow cheesecake cheesecake macaroon. Cheesecake muffin dessert chupa chups jujubes gingerbread cake jelly wypas. Cheesecake bonbon sugar plum. Croissant jelly apple pie. Chocolate bonbon cookie applicake cookie powder.</p>

	<p>Toffee chocolate cake biscuit carrot cake. Dessert topping tootsie roll jelly beans topping macaroon cake jujubes. Wafer jelly beans candy chocolate cake jelly beans toffee candy dessert. Donut muffin cheesecake jelly sweet roll cupcake jelly pudding gingerbread. Cheesecake chocolate cake toffee cookie chocolate jelly beans. Oat cake cotton candy tootsie roll pastry cupcake sesame snaps. Applicake danish wypas gummies pastry. Faworki cotton candy macaroon dessert soufflé chocolate. Chocolate bar lemon drops tiramisu. Sweet toffee dessert jelly beans dragée topping cookie liquorice. Cotton candy lemon drops sugar plum macaroon. Croissant sweet roll brownie chocolate bar danish brownie bonbon wypas. Marzipan cotton candy gummies dessert tart pudding. Pudding macaroon jelly-o toffee pastry chocolate bar chocolate wypas muffin. Halvah gummi bears chocolate cake bonbon. Cake chocolate lemon drops dragée candy. Bear claw carrot cake marzipan. Brownie powder donut caramels sesame snaps gingerbread tiramisu pudding chupa chups.
</p>
</div><!-- c2 -->
