<!DOCTYPE html>
<html>
<head>
	<title>Clouds &amp; Concerts: Music streaming</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/flexslider.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/rickshaw.min.css">
</head>
<body>
<header id="page-header">
  <h1 id="main-logo"><img src="/img/lilla_logo_liten.png" alt="logo" width="100px" height="100px"></h1>
  <h1>Clouds &amp; Concerts</h1>
  <h2>How do users listen to and find music?</h2>
</header><!-- ldm-header -->


	<div id="main-wrapper">
		<div class="sticky-wrapper" style="height: 600px">
		<div id="nav-vertical" class="sticky-wrapper fl cf">
			<ul id="menudata">
		            <li>
		                <a href="/#c0" id="m0" class="menuel">
		                    <span>About music streaming and the survey</span>
							Why do we look at music streaming, who are we, and how did we find the data? 
		                </a>
		            </li>
		            <li>
		                <a href="/#c1" id="m1" class="menuel">
		                    <span>General listening patterns</span>
		                    When do users listen to their music, on what devices and which genres?
		                </a>
		            </li>
		            <li>
		                <a href="/#c2" id="m2" class="menuel">
		                    <span>Category #2</span>
		                    Lolcats? 
		                </a>
		            </li>  

		</div> <!-- nav-vertical -->
		</div> <!-- sticky-wrapper -->
		<div id="main-content">
			<div id="sticky-navigation">
				
				<%= yield %>
				
			</div><!-- sticky-navigation -->
			<div id="push"></div>
		</div><!-- main-content -->
	</div><!-- main-wrapper -->
	<footer id="footer">
		<p class ="byline">Creative commons attribution, non-commercial, share alike / Clouds &amp; Concerts <br />
		<a href="http://hf.uio.net/cloudsandconcerts">University of Oslo</a>
		<a href="http://www.wimpmusic">WiMP Music</a>
		<a href="http://www.telenor.com">Telenor</a>
		</p>
	</div><!-- Footer -->
	
	

	
	

	<script type="text/javascript" src="/javascripts/libs/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/javascripts/libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/libs/jquery.flexslider.js"></script>
	<script type="text/javascript" src="/javascripts/libs/jquery-scrollspy.js"></script>
	<script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/javascripts/libs/rickshaw.js"></script>
	<script type="text/javascript" src="/javascripts/piechart.js"></script>
	<script type="text/javascript" src="/javascripts/script.js"></script>
	<script type="text/javascript" src="/javascripts/d301.js"></script>


<body>
</html>