<div id="push"></div>
<footer id="footer">

	<p class ="byline">Creative commons attribution, non-commercial, share alike / Clouds &amp; Concerts <br />
	<a href="http://hf.uio.net/cloudsandconcerts">University of Oslo</a>
	<a href="http://www.wimpmusic">WiMP Music</a>
	<a href="http://www.telenor.com">Telenor</a>
	</p>

</div><!-- Footer -->